html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  position: relative;
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: all;
  cursor: pointer;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  width: 100%;
}

header label {
  margin-left: auto;
}

#selected-time,
#any-time {
  display: block;
}

#any-time {
  color: gray;
  font-style: italic;
}

#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
  background: var(--color);
}

.legend {
  display: flex;
  gap: 1px;
  margin-block: 1em;
  width: 100%;
}

.legend > div {
  flex: 1;
  padding: 0.5em 1em;
  color: white;
  font-weight: 600;
}

.legend > div:nth-child(1) {
  text-align: left;
}

.legend > div:nth-child(2) {
  text-align: center;
}

.legend > div:nth-child(3) {
  text-align: right;
}